<a href="https://colab.research.google.com/github/Aboubacar2012/ML_Project/blob/main/Predict_the_cancellation_of_Hotel_Booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem : Predict whether booking is going to cancel or not

1. Perform Data Cleaning & Prepare your data Modeling Purpose

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('/content/drive/MyDrive/ml_data/supervised_learning/classification /Predicting_Hotel_Booking/hotel_bookings.csv')

In [4]:
df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out                 7/1/2015
1  Resort Hotel            0  ...           Check-Out                 7/1/2015
2  Resort Hotel            0  ...           Check-Out                 7/2/2015
3  Resort Hotel            0  ...           Check-Out                 7/2/2015
4  Resort Hotel            0  ...           Check-Out                 7/3/2015

[5 rows x 32 columns]

In [5]:
# How many columns and rows 
df.shape

(119390, 32)

In [6]:
# How many missing values
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [7]:
# Dealing with missing values 
# Define function for filling missing values
def data_clean(df):
  df.fillna(0, inplace=True)
  print(df.isnull().sum())

In [8]:
data_clean(df)

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [9]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
list=['adults', 'children', 'babies']
for i in list:
  print('{} has unique values as {}'.format(i,df[i].unique()))

adults has unique values as [ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]
children has unique values as [ 0.  1.  2. 10.  3.]
babies has unique values as [ 0  1  2 10  9]

In [ ]:
# Let's create filter to remove 0 into the following columns adults, children, babies

In [12]:
filter=(df['adults']==0)&(df['children']==0)&(df['babies']==0)
df[filter]

               hotel  is_canceled  ...  reservation_status  reservation_status_date
2224    Resort Hotel            0  ...           Check-Out                10/6/2015
2409    Resort Hotel            0  ...           Check-Out               10/12/2015
3181    Resort Hotel            0  ...           Check-Out               11/23/2015
3684    Resort Hotel            0  ...           Check-Out                 1/4/2016
3708    Resort Hotel            0  ...           Check-Out                 1/5/2016
...              ...          ...  ...                 ...                      ...
115029    City Hotel            0  ...           Check-Out                6/30/2017
115091    City Hotel            0  ...           Check-Out                 7/1/2017
116251    City Hotel            0  ...           Check-Out                7/17/2017
116534    City Hotel            0  ...           Check-Out                7/22/2017
117087    City Hotel            0  ...           Check-Out                7/29/2017

[180 rows x 32 columns]

In [14]:
# Let's remove this noice 
data=df[~filter]

In [15]:
data.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out                 7/1/2015
1  Resort Hotel            0  ...           Check-Out                 7/1/2015
2  Resort Hotel            0  ...           Check-Out                 7/2/2015
3  Resort Hotel            0  ...           Check-Out                 7/2/2015
4  Resort Hotel            0  ...           Check-Out                 7/3/2015

[5 rows x 32 columns]

Assign 2 : Probleme statement 
1. Where to the guests come from ?
2. How much do guests pay for a Night?

In [16]:
# Let's see which country booked more 
data[data['is_canceled']==0]['country'].value_counts()

PRT    20977
GBR     9668
FRA     8468
ESP     6383
DEU     6067
       ...
BDI        1
GUY        1
KIR        1
SMR        1
BHR        1
Name: country, Length: 166, dtype: int64

In [19]:
# Let's data on map 
# Let's this data into dataframe 
country_wise_data=data[data['is_canceled']==0]['country'].value_counts().reset_index()
country_wise_data.head()

  index  country
0   PRT    20977
1   GBR     9668
2   FRA     8468
3   ESP     6383
4   DEU     6067

In [20]:
# Let's modify the columns 
country_wise_data.columns=['Country','No of guests']
country_wise_data

    Country  No of guests
0       PRT         20977
1       GBR          9668
2       FRA          8468
3       ESP          6383
4       DEU          6067
..      ...           ...
161     BDI             1
162     GUY             1
163     KIR             1
164     SMR             1
165     BHR             1

[166 rows x 2 columns]

In [23]:
import folium
from folium.plugins import HeatMap

In [25]:
basemap=folium.Map()

In [26]:
import plotly.express as px

In [27]:
map_guests=px.choropleth(country_wise_data, 
              locations=country_wise_data['Country'],
              color=country_wise_data['No of guests'],
              hover_name=country_wise_data['Country'],
              title='Home Country of guests')
map_guests.show()

2. How much do guests pay for a Night?